<div class="container">

  <div class="row">
    <div class="col-sm-12 blog-main">

    <%= render 'static_pages/articles/stacky_intro' %>
    <%= render 'static_pages/articles/cloud_intro' %>
    <%= render 'static_pages/articles/site_app' %>
    <%= render 'static_pages/articles/web_apps' %>
    <%= render 'static_pages/articles/app_dhtml' %>
    <%= render 'static_pages/articles/app_spa' %>
    <%= render 'static_pages/articles/app_native' %>

    </div><!-- /.blog-main -->
  </div>

</div>