<div class="container">

  <div class="row">
    <div class="col-sm-12 blog-main">

    <ul class="list-unstyled articles-list">
        <li><%= render 'static_pages/articles/stacky_intro' %></li>
        <li><%= render 'static_pages/articles/cloud_intro' %></li>
        <li><%= render 'static_pages/articles/site_app' %></li>
        <li><%= render 'static_pages/articles/web_apps' %></li>
        <li><%= render 'static_pages/articles/app_dhtml' %></li>
        <li><%= render 'static_pages/articles/app_spa' %></li>
        <li><%= render 'static_pages/articles/app_native' %></li>
        <li><%= render 'static_pages/articles/web_experts' %></li>
    </ul>


    </div><!-- /.blog-main -->
  </div>

</div>