  <!-- variables that should be passed to this partial -->
  <% featurette_image %>
  <% featurette_image_alt %>
  <% more_content %>
  <% more_link_class_name %>
  <% more_content_href %>

<div class="collapse" id="more-content-cloud-intro">
  <%= image_tag(featurette_image, class: "featurette-image img-responsive center-block", alt: featurette_image_alt ) %>
  
  <%= render more_content %>
  
  <h2>
    <a  class="toggle-more-less <%=more_link_class_name%>" 
        data-toggle="collapse" 
        href=<%=more_content_href%>
        aria-expanded="false" 
        aria-controls=<%=more_content_aria%>
        >
      <span>more...</span><span class="hidden">...less</span>
    </a>      
  </h2>
</div><!-- /.more-content-* -->
<hr>